<div class="layout layout--col gap--space-between">
  <div class="grid grid--cols-2 portrait:grid--cols-1">
    <div class="row row--center">
      <img class="w--[46cqw] h--[46cqw] portrait:w--auto portrait:h--[22cqh] lg:w--[46cqw] lg:h--[46cqw] lg:portrait:w--auto lg:portrait:h--[32cqh]" alt="Weather condition" src="https://trmnl.com/images/plugins/weather/wi-day-sunny.svg">
    </div>
    <div class="col">
      <div class="item grow">
        <div class="meta"></div>
        <div class="content">
          <span class="value value--xxlarge lg:value--giga lg:portrait:value--mega" data-fit-value="true">77°</span>
          <span class="label">Temperature</span>
          <span class="label">2:08 PM</span>
        </div>
      </div>
    </div>
  </div>
  <div class="divider"></div>
  <div class="grid grid--cols-2 portrait:grid--cols-1 portrait:gap">
    <div class="col gap--medium">
      <div class="item">
        <div class="meta"></div>
        <div class="content">
          <span class="value value--small lg:value--base">Sunny</span>
          <span class="label">Right Now</span>
        </div>
      </div>
      <div class="item">
        <div class="meta"></div>
        <div class="content">
          <span class="value value--xsmall lg:value--small lg:portrait:value--small">69.5° - 86.2°</span>
          <span class="label">L/H</span>
        </div>
      </div>
      <div class="item">
        <div class="meta"></div>
        <div class="content">
          <span class="value value--xsmall lg:value--small lg:portrait:value--small">High (8)</span>
          <span class="label">UV</span>
        </div>
      </div>
    </div>
    <div class="divider landscape:hidden"></div>
    <div class="col gap--medium">
      <div class="item">
        <div class="meta"></div>
        <div class="content">
          <span class="value value--small lg:value--base">Light Rain</span>
          <span class="label">Tomorrow</span>
        </div>
      </div>
      <div class="item">
        <div class="meta"></div>
        <div class="content">
          <span class="value value--xsmall lg:value--small lg:portrait:value--small">65.2° - 79.1°</span>
          <span class="label">L/H</span>
        </div>
      </div>
      <div class="item">
        <div class="meta"></div>
        <div class="content">
          <span class="value value--xsmall lg:value--small lg:portrait:value--small">Moderate (5)</span>
          <span class="label">UV</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="title_bar">
  <img class="image" alt="" src="https://trmnl.com/images/plugins/weather--render.svg">
  <h1 class="title">2:08 PM</h1>
  <span class="instance">Las Vegas</span>
</div>
